<%- include("partials/header.ejs")%>
<body>
    <div class="card">
    <div class="contain">
        <h2>About</h2>
    <p>Welcome to Blogg – a personal project I built to showcase my skills in web development and design. It’s a simple yet functional blogging platform where users can easily create, edit, view, and delete blog posts. Using Node.js, Express, EJS, and CSS, I designed it to be responsive, so it works smoothly on any device.</p>
    <br>
    <p>I focused on keeping the design clean and the features practical, making it easy for users to interact with the content. This project reflects my experience in both front-end and back-end development, bringing together design and functionality in a straightforward way.</p>
    </div>
    <h3>Built With</h3>
    <ul> 
        <li>CSS</li>
        <li>HTML</li>     
        <li>Node.js</li>
        <li>Express</li>
        <li>EJS</li>
    </ul>
</div>
</body>
<%- include("partials/footer.ejs")%>
</html>